<%- include('partials/header') %>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <span class="text">Salary</span>
                        <span class="number">Spend All total</span>
                    </div>
                    <div class="box box2">
                        <span class="text">Attendance</span>
                        <span class="number">Progress Report</span>
                    </div>
                    <div class="box box3">
                        <span class="text">Working hours</span>
                        <span class="number">10,120</span>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i> 
                     <span class="text">Employees</span>
                </div>
                <table class="table">
                    <thead class="th">
                        <tr class="tr">
                            <th class="td">UserID</th>
                            <th class="td">Name</th>
                            <th class="td">Email</th>
                            <th class="td">Contact</th>
                            <th class="td">Address</th>
                            <th class="td">Edit</th>
                        </tr>
                    </thead>
                    <tbody class="tb">
                        <% employees.forEach(employee => { %>
                        <tr class="tr">
                            <td class="td"><%= employee.emp_id %></td>
                            <td class="td"><%= employee.name %></td>
                            <td class="td"><%= employee.email %></td>
                            <td class="td"><%= employee.contact %></td>
                            <td class="td"><%= employee.address %></td>
                            <td class="td"><a href="#">edit now</a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>