<%- include('partials/header') %>

<!-- Dashboard SECTION  -->
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
        </div>

        <div class="dash-content">

            <div class="card">

                <div class="user-card">
                    <div class="user-details">
                        
                        <h2 class="user-name"><%= user.name %></h2>
                        <p><strong>Username:</strong> <%= user.username %></p>
                        <p><strong>Email:</strong><%= user.email %></p>
                        <p><strong>Role:</strong> Administrator</p>
                    </div>
                    <div class="user-img-section">
                        <img class="user-img" src="<%= user.img %>" alt="<%= user.name %>">
                    </div>
                </div>
        
            </div>



            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <span class="text">Total Employees</span>
                        <span class="number">50</span>
                    </div>
                    <div class="box box2">
                        <span class="text">Currently pressent</span>
                        <span class="number">40</span>
                    </div>
                    <div class="box box3">
                        <span class="text">Working hours</span>
                        <span class="number">10,120</span>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i> 
                     <span class="text">Employees</span>
                </div>
                <table class="table">
                    <thead class="th">
                        <tr class="tr">
                            <th class="td">UserID</th>
                            <th class="td">Name</th>
                            <th class="td">Email</th>
                            <th class="td">Contact</th>
                            <th class="td">Address</th>
                            <th class="td">Edit</th>
                        </tr>
                    </thead>
                    <tbody class="tb">
                        <% employees.forEach(employee => { %>
                        <tr class="tr">
                            <td class="td"><%= employee.emp_id %></td>
                            <td class="td"><%= employee.name %></td>
                            <td class="td"><%= employee.email %></td>
                            <td class="td"><%= employee.contact %></td>
                            <td class="td"><%= employee.address %></td>
                            <td class="td"><a href="#">edit now</a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

<!-- DEPARTMENT SECTION -->

    <section class="department" style="margin-left: 250px;" >
        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i> 
                 <span class="text">Department Details</span>
            </div>
            <table class="table">
                <thead class="th">
                    <tr class="tr">
                        <th class="td">jobID</th>
                        <th class="td">job_dept</th>
                        <th class="td">Name</th>
                        <th class="td">Description</th>
                        <th class="td">Salary Range</th>
                    </tr>
                </thead>
                <tbody class="tb">
                    <% department.forEach(dept => { %>
                    <tr class="tr">
                        <td class="td"><%= dept.job_ID %></td>
                        <td class="td"><%= dept.job_dept %></td>
                        <td class="td"><%= dept.name %></td>
                        <td class="td"><%= dept.description %></td>
                        <td class="td"><%= dept.salary_range %></td>
                        
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Employee Details Section  -->
    <section class="employee_details" style="margin-left: 250px;">
        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i> 
                 <span class="text">Employees Details</span>
            </div>
            <table class="table">
                <thead class="th">
                    <tr class="tr">
                        <th class="td">UserID</th>
                        <th class="td">Name</th>
                        <th class="td">Email</th>
                        <th class="td">Contact</th>
                        <th class="td">Address</th>
                        <th class="td">Edit</th>
                    </tr>
                </thead>
                <tbody class="tb">
                    <% employees.forEach(employee => { %>
                    <tr class="tr">
                        <td class="td"><%= employee.emp_id %></td>
                        <td class="td"><%= employee.name %></td>
                        <td class="td"><%= employee.email %></td>
                        <td class="td"><%= employee.contact %></td>
                        <td class="td"><%= employee.address %></td>
                        <td class="td"><a href="#">edit now</a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </section>

    <!-- PAYROLL SECTION  -->
    <section class="payroll" style="margin-left: 250px;">
        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i> 
                 <span class="text">Payroll Details</span>
            </div>
            <table class="table">
                <thead class="th">
                    <tr class="tr">
                        <th class="td">payID</th>
                        <th class="td">empID</th>
                        <th class="td">jobID</th>
                        <th class="td">salaryID</th>
                        <th class="td">Date</th>
                        <th class="td">Amount</th>
                        <th class="td">Pay</th>
                    </tr>
                </thead>
                <tbody class="tb">
                    <% payroll.forEach(e => { %>
                    <tr class="tr">
                        <td class="td"><%= e.payroll_ID %></td>
                        <td class="td"><%= e.emp_ID %></td>
                        <td class="td"><%= e.job_ID %></td>
                        <td class="td"><%= e.salary_ID %></td>
                        <td class="td"><%= e.date %></td>
                        <td class="td"><%= e.total_amount %></td>
                        <td class="td"><a href="https://www.sbiepay.sbi/secure/transactionTrack">pay now</a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </section>



 <!-- ADD Employee SECTION  -->
    <section class="addEmployee" style="margin-left: 250px;">
        <div class="container">
            <h2 class="form-title">Add Employee</h2>
            <form id="addEmployeeForm" action="/addEmployee" method="post">
                <div class="form-row">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                
                <div class="form-row">   
                    <label for="department">Department:</label>
                    <input type="text" id="department" name="department" required>
                </div>
                
                <div class="form-row">
                    <label for="qualification">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-row">
                    <label for="qualification">contact</label>
                    <input type="number" id="contact" name="contact" required>
                </div>
                
                <div class="form-row">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" required>
                </div>
                <div class="form-row">
                    <label for="gender">Gender:</label>
                    <input type="radio" id="male" name="gender" value="Male"> <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="Female"> <label for= "female">Female</label>
                    <input type="radio" id="other" name="gender" value="Other"> <label for="other">Other</label>
                </div>
                
                <div class="form-row">
                    <label for="doj">Password</label>
                    <input type="text" id="password" name="password" required>
                </div>
                <div class="form-row">
                    <label for="address">Address:</label>
                    <textarea id="address" name="address" rows="4" required></textarea>
                </div>
                <!-- <button type="button" onclick="submitForm()" class="btn">Submit</button> -->
                <input type="submit" value="Submit" class="btn">
            </form>
        </div>
    </section>

    

    <%- include('partials/footer') %>